h1
{
    width: 100%;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    background-color: black;
}

li
{
    float: left;
    color: white;
    width: 50%;
    text-align: center;
}
a
{
    text-decoration: none;
}

li a{
    color: white;
    text-align: center;
}

header
{
    border-color: black;
    border-style: solid;
}