h1
{
    width: 100%;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 20px;
    background-color: black;
    margin: 0px;
}

li
{
    float: left;
    color: white;
    width: 50%;
    text-align: center;
}
a
{
    text-decoration: none;
}

li a{
    color: white;
    text-align: center;
}

header
{
    border-color: black;
    border-style: solid;
}

section
{
    float: left;
    width: 50%;
    margin: 5%;
}

aside
{
    width: 40%;
    float: right;
    
}
img
{
    width: 100%;
}

nav
{
    background-color: black;
}


.siguiente{
    background-color: black;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.siguiente a{
    color: white;
}